
:root {
    --primary-color: #474743;
    --secondary-color: #c7c7c7;
    --tertiary-color: #696969;
    --color-1: rgb(255, 255, 255);
    --color-2: #000000;
    --color-3:  #d3d3d3;
    --color-4:  #e0ffff;
    --color-5: #f08080;
    --color-6: #008000;
    --color-7:#ffffff;
    --color-8:#008080;
    --color-9:#2f4f4f;
    --color-10:#0000ff;
    --color-11:#556b2f;
    --color-12:#20b2aa;
    --color-13:#20b2aa;
    --color-14:#faebd7;
  }

* {
    box-sizing:border-box
}

/* header styling with flex layout */

.page-header {
    display: flex;
    width: 100%;
    padding: 30px;
    margin:auto;
}
.page-header__item {
    flex: 0 1 200px;
    height: 80px;
}
.page-header .page-header__item:last-child {
    flex-grow: 1;
    text-align: right;
}
.navigation-list {
    list-style-type: none;
}
.navigation-list li {
    display: inline-block;
    margin-left: 15px;
}
/* ######################################### */

/* font styling and background color setting*/
body{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 18px;
    line-height: 1.5;
    color:var(--tertiary-color);
    background-color: var(--primary-color);
}
h1,h2,h3 {
    color:var(--color-12) !important;
}
p {
    font-size: auto;
    color: var(--secondary-color);
}
/* #adress {
    text-align: left;
    font: inherit;
    color: inherit;
    line-height: initial;
    position:relative;
    color: var(--color-2);
} */

/* form styling */

/* .form-container {
    border-radius: 5px;
    padding: 5px;
    color: var(--color-2);
    background-color: var(--color-3);
    width: 500px;
  }
  label {
    padding: 5px 5px 5px 0;
    display: inline-block;
    color:var(--color-2) !important;
  }
  input[type=text], input [type=email], input [type=date] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    display:inline-block;
  }
  .submit-button {
    display: flex;
    justify-content: center;
  }
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 3px;
    margin-left:25px;
  }
  
  .col-50 {
    float: left;
    width: 50%;
    margin-top: 6px;
  }  
  .row::after {
    content: "";
    display: table;
    clear: both;
  } */
/* .logo {
    font-family:Copperplate, Papyrus, fantasy;
    font-size: xx-large;
    display: flex;
} */



*:not(a) {
    color: var(--color-1);
}
/* ######################################## */


main {
    max-width: 700px;
    margin: 0 auto;
    width: 100vw;
    height: 72vh;
    text-align: justify;
}


/* apply float to the image */
.profile__portrait {
    float:left;
    margin: 0px 30px 30px 30px;
    height: 200px;
    border-radius: 10%;
}

/* work.html grid design */
#grid-container {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    /* grid-template-rows: 200px 200px 200px 200px; */
    grid-gap: 20px;
}

#grid-container .grid-item {
background-color: var(--color-3);
color: var(--color-2);
min-height: 100px;
text-align: center;
}

/* footer styling */
.page-footer {
    display: flex;
    clear: both;
    flex-direction: column;
    text-align: center;
    border-top: double;
    padding: 2px;
}
.social-media a {
    cursor: pointer;
    text-decoration: none;
}

.social-media a:hover {
    opacity: .5;
}

.social-media a:focus {
    outline: none;
}

/*#############################################*/

/* About stylings */
.about-me {
    clear: both;
    flex-direction: row;
    text-align: center;
    flex-grow: 1;
    padding: 30px;
}
/* .animation-sample {
    clear: both;
    padding-left: 60px;
} */
.my-contact {
    flex-direction: row;
    clear: both;
    text-align: center;
    flex-grow: 1;
}

/*link stylings*/
a {
color: var(--color-4);
text-decoration: none;
}

a:hover {
    /*no underlining when hovering over a link*/
    color:var(--color-5);
    text-decoration: none;
}

a:active {
    /*selected link*/
    color: var(--color-6);
}

.navigation-list__item--active {
    text-decoration: underline;
    color:var(--color-7);
}

/* button styling */
button {
    background-color:var(--color-8);
    color: var(--color-7);
    font-size: 16px;
    padding:5px;
    opacity: 0.8;
}

button:hover {
    background-color: var(--color-9);
    cursor:pointer;
}
button:active {
    background-color: var(--color-10);
}
button:focus {
    border: 2px solid var(--color-2);
}
.button_secondary {
    background-color: var(--color-11);
    opacity: .5;
}

/* css transition */

/* .button, button {
    border: none;
    background-color: var(--color-12);
    color:var(--color-7);
    transition-duration: 0.2s;
    border-radius: 3px;
    } */
    
    
    /* css animation */
    
    /* .animation {
        display: flex;
        text-align: center;
    } */
    
    
    /* svg * {
        transform-box: fill-box;
    }
    #Rectangle-2, #Rectangle-1{
       animation: 10s color-change2 infinite alternate linear;
       
    }
    #Its-a-sample {
        fill: var(--color-14)
    }
    
    #Polygon-1, #Vector-1 {
        animation: 10s color-change infinite alternate linear;
    }
    
    ellipse.Ellipse {
        animation: 10s shape-move infinite alternate;
    }
    
    /* animation keyframe*/
    /* @keyframes color-change {
        0% {
            fill:var( --color-11);
            transform: rotateY(0deg);
        }
        50% {
            fill:var( --color-8);
            transform: rotateY(60deg);
        }
        100% 
        {
            fill:var( --color-5);
            transform: rotateY(0deg);
        }
    }
    @keyframes color-change2 {
        0% {
            fill:var( --color-9);
            transform: rotateY(0deg);
        }
        50% {
            fill:var( --color-13);
            transform: rotateY(60deg);
        }
        100% 
        {
            fill: var( --color-6);
            transform: rotateY(0deg);
        }
    }
    
     @keyframes shape-move {
        from {
            transform: scale (.5,.3);
            fill:var( --color-11);
        }
        to 
        {
            fill:var( --color-12);
            transform: scale(.8,.4);
        }
    } */
    
    /* animate the text and main body */
    @keyframes move {
        from {left: -40px; opacity:.1}
        to {left: 0px; opacity: 1;}
    }
    
    main {
        position: relative;
        animation-name: move;
        animation-duration: 1s;
    }
/*####################################################*/

/* media query rules */
@media all  and  (min-width: 0px) and (max-width: 500px){
    #grid-container {
        grid-template-columns: 1fr;
    }
    .index-main {
        display:flex;
        flex-direction: row;
        text-align:center;
        justify-content: center;
        font-size: 14px;
    }
    .profile__portrait {
        height: 100px;
        float:none;
    }
    .content-about {
        justify-content:center;
    }
    /* .animation-sample {
        padding-left: none;
        size: 1px;
    } */
    body {
        max-width: 500px;
        font-size: 14px
    }
    .navigation-list {
        display: grid;
        grid-template-rows: 1fr;
    }
    .page-header__item {
        height: 70px;
    }
}

@media all  and  (min-width: 500px) and (max-width: 750px){
    #grid-container {
        grid-template-columns: 1fr 1fr;
    }
    .index-main {
        display:flex;
        flex-direction: row;
        text-align:center;
        justify-content: center;
    }
    .profile__portrait {
        height: 170px;
        float:none;
    }
    .content-about {
        justify-content:center;
    }
    #grid-container {
        grid-gap: 10px;
    }
    .grid-item {
        grid-column: auto/auto;
        grid-row: auto/auto;
    }
}


